// Place all the styles related to the admin::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item_image {
	text-align: center;
}
.item-container-left{
	width: 120px;
	float: left;
}
.item-container-right{
	float: left;
	margin-left: 20px;

	.disc-table{
		float: left;
		width: 120px;

		p{
			font-size: 10px;
			margin: 0 3px 0 0;

		}
	}
}
.admins-link {
    margin: 10px;
}

.row2{
	.wrap{
	  width: 100%;
	  max-width: 1000px;
	  margin: 0 auto;
	}
	 
	.clearfix:after{
	  content:"";
	  clear: both;
	  display: block;
	}
	 
	#tab-menu li {
	  float: left;
	  list-style-type: none;
	  width: 33.3333%;
	}
	 
	#tab-menu a {
	  color: #fff;
	  text-decoration: none;
	  display: block;
	  padding: 20px;
	  text-align: center;
	  background: #000;
	  border: 1px solid #000;
	  border-bottom: none;
	}
	 
	#tab-menu .active {
	  background: #fff;
	  color: #000;
	}
	 
	#tab-contents .tab {
	  padding: 30px;
	  background: #fff;
	  border: 1px solid #000;
	  border-top: none;

	  	.containers{
	  		height: 300px;
	  	}
	}
	 
	#tab-contents p{
	  color:#000;
	  line-height: 2.5;
	}

}

// 商品一覧
// .search-area input[type="text"] {
//   padding: 5px 5px 3px;
//   font-size: 16px;
//   border: 1px solid #D6D6D6;
// }

// .search-area input[type="text"]:focus {
//   background: #F9F9F9;
// }

// .search-result {
//   margin-top: 20px;
// }
// .search-result__hit-num span {
//   font-weight: bold;
// }
// #search-result__list {
//   margin-top: 15px;
// }
// #search-result__list span {
//   display: inline-block;
//   margin-right: 15px;
//   padding: 5px;
//   background: #F2F2F2;
// }
.target-area {
  margin-top: 50px;
}

.pagenate{
	text-align: center;
	font-size: 20px;
}
.edit-disc-box {
	li{
		margin-left: 20px;
	}
	margin-top: 30px;
	padding-left: 40px;
	padding-right: auto;
}
.edit-submit {
	span {
		padding-right: 20px;
		padding-left: 20px;
	}
	text-align: center;
	padding-top: 20px;
}
.linkadditem {
	margin-bottom: 20px;
}

.searchbox {
	margin: 20px 0;
}
