// Place all the styles related to the admins::reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row1 .aiueo{
	height: 300px;

	.col-md-12{
		height: 300px;

		.search-content{
			width: 650px;
			height: 30px;
			margin: 10px;

			.search-word{
				height: 30px;
				float: left;
			}

			.search-tag{
				height: 30px;
				float: right;
			}
		}

		.table-bordered{
			width: 800px;

			th{
				height: 30px;
				text-align: center;
				font-weight: normal;
			}
		}
	}
}

.row2{
	height: 300px;

	.col-md-12{
		height: 300px;

		.table-bordered{
			width: 800px;

			th{
				height: 30px;
				text-align: center;
				font-weight: normal;
			}
		}
	}
}

.row3{

	.col-md-12{
		height: 200px;

		.table-edit{
			width: 800px;

			th{
				height: 30px;
				font-weight: normal;
			}

		}
		.review-form {

			p{
			font-size: 15px;
			float: left;
			}
		}
	}
}
