// Place all the styles related to the admin::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.a_users_container{
	width: 70%;
	margin: 0 auto;
}
.btn-danger{
	margin-top: 40px;
}