<body>
  <div class="container white-box">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>ご注文完了</h2>
        <div class="background-info">
          <div style="font-size: 20px; padding-top: 50px;">ご注文ありがとうございました</div>
          <div class="item-index"  style="margin-top: 30px;">
            <%= link_to '商品一覧へ', root_path ,class: "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
// $(document).ready( function(){
//   alert('jQuery');
// });
</script>
</body>
