<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
      <h2 class=>注文内容確認</h2>
        <%= link_to '戻る', :back , class: "btn btn-default back" %>
        <%= link_to '確定', order_confirmation_path , class: "btn btn-success ok" %>
      </div>
    </div>
  </div>

<p><%= @shiharai %></p>

</body>