/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
//hasegawa
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
// .mypage_title{
// 	margin-top:70px;
// }

.info_container{
	width: 70%;
	margin: 0 auto;
}

//
.wrapper{
	position: relative;
  padding-bottom: 80px;/*←footerの高さ*/
  box-sizing: border-box;
}

footer{
    width: 100%;
    background-color:　;
    color: #fff;
    text-align: center;
    padding: 30px 0;

    position: absolute;
    bottom: 0;
}
.admins-link {
  margin: 10px;
}

.admins-link li {
  border: solid 1px;
  margin: 5px;
}





.unsubscribe{
  width: 50%;
  margin:0 auto;
}
.title-acolle {
	color: #f5f5f7;
	padding-right: 70px;
}
.search-title {
	color: #f5f5f7;
}
.search-field {
	margin-top: 30px;
	margin-left: 30px;
}
.bodycolor {
  background-color: slategrey;
}
.wrapper {
  background-color: #222;
}
.ranking-sale {
  margin-top: 20px;
  background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8));
}
.ranking-access {
  background: linear-gradient(-135deg, #E4A972, #9941D8);
}
.signin_container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.login-box {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.mypage-box {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.page-box {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.white-box {
  background-color: #f5f5f7;
  padding-bottom: 50px;
}

.cart-item-name {
	font-size: 20px;
	padding-top: 20px;
}