// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.row-6 {
	float: left;
	padding-top: 20px;
}

tbody {
	border: solid 1px;
}

.cart-box {
	border: solid 1px;
}

.cart-info {
	float: right;
	padding-top: 20px;
	padding-bottom: 5px;
}

.cart-price {
	float: right;
}

.submitbutton {
	padding: 10px;
}