// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



section {
  border: solid 1px;/*表全体を線で囲う*/
  height: 140px;
}

section.pay {
  margin-top: 20px;
}
.title {
  display: inline-block;
  width: 100px;
  font-size: 20px;
  // background-color: red;
}

.btn-edit{
  display: inline-block;
}

.button-under {
  margin-top: 20px;
}

.back {
  float: left;
}
.ok {
  float: right;
}

.middle {
  margin-top: 30px; //ボタンを上にしたいけど行かない？
  background-color: grey;
  color: white;
}

.item-info-price {
  display: inline-block;
  height: 50px;
  width: 150px;
  float: right;
  text-align: right;
  // padding-top: 50px;
  // padding-bottom: 50px;
  margin-top: 40px;
}

p {
  font-size: 16px
  }.itemname{
    display: inline-block;
    width: 400px;
    margin-left: 20px;
    margin-top: 50px;
  }


.price-info {
  margin-top:20px;
}
// .img {
//   margin-top: 20px;
// }

h2 {
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px ;/*上線*/
  border-bottom: solid 3px ;/*下線*/
  text-align: center;
}

.price-info-confimation {
  float: right;
  margin-bottom: 30px;
  width: 300px;
}

.total-price {
    border-top: double;
    background-color: yellow;
    margin-bottom: 30px;
  }

.pay-select {
  display: inline-block;
  width: 400px;
}

.background-info {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  // background-color: white;
  text-align: center;
  // background-image: url("rakutenpanda.jpeg");
  // background-size: cover;
}

.item-index {
  width: 100px;
  margin: 20px auto;

}