// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage-title{
	display: inline-block;
	background: #c2edff;/*背景色*/
 	padding: 0.5em;/*文字まわり（上下左右）の余白*/

.unsubscribe-page {
    margin-bottom: 20px;
}