<div class="unsubscribe_box">
	<h1 class="unsubscribe_messege">メンバー退会</h1>
	<h2 class="unsubscribe_messege">退会が完了しました。</h2>
	<p class="unsubscribe_messege">これまでAcolleをご愛顧ご愛用いただきまして、誠にありがとうございます。</p>
	<p class="unsubscribe_messege">また機会が御座いましたらご登録、ご利用頂ければ幸いです。</p>
	<p class="unsubscribe_messege">ご愛顧頂き、誠にありがとうございました。</p>
	<%= link_to "Acolleホームへ", root_path, class:"btn-primary" %>
</div>